@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:500");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif; }

#content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: #dd5736;
  background: linear-gradient(110deg, #f37150 0%, #b34124 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f37150', endColorstr='#b34124', GradientType=1); }

#content {
  width: 100%;
  max-width: 1400px;
  text-align: center; }

#logo {
  width: 755px;
  height: 88px;
  display: block;
  margin: 0 auto; }

h1 {
  font-weight: 500;
  font-size: 32px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 45px;
  padding-bottom: 43px;
  line-height: 1; }

h1:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 100px;
  height: 2px;
  transform: translateX(-50%);
  opacity: .2;
  background-color: #fff; }

#chrome-store {
  display: inline-block;
  box-shadow: 0px 8px 30px 0px rgba(107, 37, 19, 0.22);
  transition: box-shadow .3s; }

#chrome-store:hover {
  box-shadow: 0px 14px 50px 0px rgba(107, 37, 19, 0.38); }

#chrome-store img {
  width: 290px;
  height: 87px;
  display: block; }

@media (max-width: 900px) {
  #content-wrapper {
    align-items: flex-start;
    padding: 100px 25px 25px 25px; }
  #logo {
    width: 475px;
    height: 55px; }
  h1 {
    font-size: 24px; }
  #chrome-store img {
    width: 240px;
    height: 72px; } }

@media (max-width: 550px) {
  #logo {
    width: 335px;
    height: 39px; }
  h1 {
    font-size: 23px; } }

@media (max-width: 450px) {
  #logo {
    width: 295px;
    height: 34px; }
  h1 {
    font-size: 19px;
    margin-top: 10px; } }
